[submodule "gamerfood"]
	path = gamerfood
	url = https://github.com/A5-/Gamerfood_CSGO
[submodule "CSGOSimple"]
	path = CSGOSimple
	url = https://github.com/MarkHC/CSGOSimple
[submodule "DingoSquad"]
	path = DingoSquad
	url = https://github.com/McSwaggens/DingoSquad
[submodule "csgo-hack"]
	path = csgo-hack
	url = https://github.com/DimitriFourny/csgo-hack
